<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Collector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="12.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="12.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Engine" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="12.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="NLog.log">
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${message}" />

      <target name="summaryjsonlog" xsi:type="File" fileName="C:\Users\Semih\Desktop\summaryJsonLog.txt" layout="${message}" />
      <target name="calltracelog" xsi:type="File" fileName="C:\Users\Semih\Desktop\callTraceLogPhoneApps.txt" layout="${message}" />
      <target name="phoneprojectlistlog" xsi:type="File" fileName="C:\Users\Semih\Desktop\phoneprojectlistlog.txt" layout="${message}" />
      <target name="phonesolutionlistlog" xsi:type="File" fileName="C:\Users\Semih\Desktop\phonesolutionlistlog.txt" layout="${message}" />
      <target name="asyncclassifierlog" xsi:type="File" fileName="C:\Users\Semih\Desktop\asyncclassifierlog.txt" layout="${message}" />
      <target name="asyncclassifieroriginallog" xsi:type="File" fileName="C:\Users\Semih\Desktop\asyncclassifieroriginallog.txt" layout="${message}" />
      <target name="syncclassifierlog" xsi:type="File" fileName="C:\Users\Semih\Desktop\syncclassifierlog.txt" layout="${message}" />

      <target name="templog" xsi:type="File" fileName="C:\Users\Semih\Desktop\templog.txt" layout="${message}" />
      <target name="templog2" xsi:type="File" fileName="C:\Users\Semih\Desktop\templog2.txt" layout="${message}" />
      <target name="templog3" xsi:type="File" fileName="C:\Users\Semih\Desktop\templog3.txt" layout="${message}" />
      <target name="templog4" xsi:type="File" fileName="C:\Users\Semih\Desktop\templog4.txt" layout="${message}" />
      <target name="templog5" xsi:type="File" fileName="C:\Users\Semih\Desktop\templog5.txt" layout="${message}" />
      <target name="apmdiagnosislog" xsi:type="File" fileName="C:\Users\Semih\Desktop\apmdiagnosislog.txt" layout="${message}" />
     
      <!--<target name="summarylog" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Results\Raw\summaryPhoneApps.txt" layout="${message}" />-->
      <!--<target name="calltracelog" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Results\Raw\callTraceLogPhoneApps.txt" layout="${message}" />-->
      <!--<target name="phoneprojectlistlog" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Results\Raw\phoneprojectlistlog.txt" layout="${message}" />-->
      <!--<target name="phonesolutionlistlog" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Results\Raw\phonesolutionlistlog.txt" layout="${message}" />-->
      <!--<target name="asyncclassifierlog" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Results\Raw\asyncclassifierlog.txt" layout="${message}" />-->
      <!--<target name="asyncclassifieroriginallog" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Results\Raw\asyncclassifieroriginallog.txt" layout="${message}" />-->
      <!--<target name="syncclassifierlog" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Results\Raw\syncclassifierlog.txt" layout="${message}" />-->

      <!--<target name="templog" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Results\Raw\templog.txt" layout="${message}" />-->
      <!--<target name="apmdiagnosislog" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Results\Raw\apmdiagnosislog.txt" layout="${message}" />-->
      <!--<target name="apmdiagnosislog2" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Results\Raw\apmdiagnosislog2.txt" layout="${message}" />-->
    </targets>
    <rules>
      <logger name="Console" minlevel="Trace" writeTo="console" />
      <logger name="SummaryJSONLog" minlevel="Trace" writeTo="summaryjsonlog" />
      <logger name="CallTraceLog" minlevel="Trace" writeTo="calltracelog" />
      <logger name="PhoneProjectListLog" minlevel="Trace" writeTo="phoneprojectlistlog" />
      <logger name="PhoneSolutionListLog" minlevel="Trace" writeTo="phonesolutionlistlog" />
      <logger name="AsyncClassifierLog" minlevel="Trace" writeTo="asyncclassifierlog" />
      <logger name="AsyncClassifierOriginalLog" minlevel="Trace" writeTo="asyncclassifieroriginallog" />
      <logger name="SyncClassifierLog" minlevel="Trace" writeTo="syncclassifierlog" />
      <logger name="TempLog" minlevel="Trace" writeTo="templog" />
      <logger name="TempLog2" minlevel="Trace" writeTo="templog2" />
      <logger name="TempLog3" minlevel="Trace" writeTo="templog3" />
      <logger name="TempLog4" minlevel="Trace" writeTo="templog4" />
      <logger name="TempLog5" minlevel="Trace" writeTo="templog5" />
      <logger name="APMDiagnosisLog" minleve="Trace" writeTo="apmdiagnosislog" />
    </rules>
  </nlog>
  <appSettings>
    <add key="SummaryJSONLogPath" value="C:\Users\Semih\Desktop\raw.json" />

    <add key="SubsetApps" value="C:\Users\Semih\Desktop\subsetApps.txt" />
    
    <add key="AppsPath" value="D:\CodeCorpus\WPApps\" />

    <!--<add key="SummaryLogFile" value="C:\Users\david\Projects\UIUC\Results\Raw\summaryPhoneApps.txt" />-->
    <!--<add key="AppsPath" value="C:\Users\david\Projects\UIUC\Candidates" />-->
    <add key="OnlyAnalyzeSubsetApps" value="false" />

    <add key="IsGeneralAsyncDetectionEnabled" value="false" />
    
    <add key="IsAsyncUsageDetectionEnabled" value="true" />
    
    <add key="IsSyncUsageDetectionEnabled" value="false" />

    <add key="IsAsyncAwaitDetectionEnabled" value="false" />

    <add key="IsAPMDiagnosisDetectionEnabled" value="false" />

    <add key="DispatcherDetectionEnabled" value="false" />
    
    <add key="" value="1" />
  </appSettings>
  <applicationSettings>
    <Collector.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Setting1" serializeAs="String">
        <value>true</value>
      </setting>
    </Collector.Properties.Settings>
  </applicationSettings>
</configuration>