<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="NLog.log">
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${message}"/>
      <target name="summarylog" xsi:type="File" fileName="C:\Users\Semih\Desktop\summaryPhoneApps.txt" layout="${message}"/>
      <target name="calltracelog" xsi:type="File" fileName="C:\Users\Semih\Desktop\callTraceLogPhoneApps.txt" layout="${message}"/>
      <target name="phoneprojectlistlog" xsi:type="File" fileName="C:\Users\Semih\Desktop\phoneprojectlistlog.txt" layout="${message}"/>
      <target name="phonesolutionlistlog" xsi:type="File" fileName="C:\Users\Semih\Desktop\phonesolutionlistlog.txt" layout="${message}"/>
    </targets>
    <rules>
      <logger name="Console" minlevel="Trace" writeTo="console"/>
      <logger name="SummaryLog" minlevel="Trace" writeTo="summarylog"/>
      <logger name="CallTraceLog" minlevel="Trace" writeTo="calltracelog"/>
      <logger name="PhoneProjectListLog" minlevel="Trace" writeTo="phoneprojectlistlog"/>
      <logger name="PhoneSolutionListLog" minlevel="Trace" writeTo="phonesolutionlistlog"/>
    </rules>
  </nlog>
  <appSettings>
    <add key="SummaryLogFile" value="C:\Users\Semih\Desktop\summaryPhoneApps2.txt"/>
    <add key="AppsPath" value="Z:\C#PROJECTS\PhoneApps"/>
    <!--<add key="SummaryLogFile" value="C:\Users\david\Projects\UIUC\Results\Raw\summaryPhoneApps2.txt"/>-->
    <!--<add key="AppsPath" value="C:\Users\david\Projects\UIUC\Candidates"/>-->
    <add key="" value="1"/>
  </appSettings>
</configuration>
